* {
  margin: 0;
  padding: 0;
}

.align {
  align-items: center;
}

.justbtw {
  justify-content: space-between;
}

.justard {
  justify-content: space-around;
}

.white {
  color: #fff;
}

.greybg {
  background: #3e3e3c;
}

.blackbg {
  background: #1c1a19;
}

.orange {
  color: #f55800;
}

.orangebg {
  background: #f55800;
}

.white2 {
  color: #f4f5f7;
}

.flex {
  display: flex;
}

.nowrap {
  flex-wrap: nowrap;
}

.wrap {
  flex-wrap: wrap;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

header {
  position: fixed;
  padding: 0;
  left: 0;
  margin: 0;
  width: 100%;
  z-index: 1;
}

nav {
  position: relative;
  padding: 12px 24px;
}

nav h2 {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  transition: all 0.5s ease-in-out;
}

.ham {
  cursor: pointer;
  z-index: 1;
}

.ham1 {
  background: #acb7c3;
  height: 2px;
  width: 16px;
  margin: 4px 0;
  transition: all 0.3s ease-in-out;
}

.ham2 {
  background: #acb7c3;
  height: 2px;
  width: 16px;
  margin: 4px 0;
  transition: all 0.3s ease-in-out;
}

.ham3 {
  background: #acb7c3;
  height: 2px;
  width: 16px;
  margin: 4px 0;
  transition: all 0.3s ease-in-out;
}

.ham.active .ham1 {
  transform: translateY(8px) rotate(45deg);
}

.ham.active .ham3 {
  transform: translateY(-4px) rotate(-45deg);
}

.ham.ham.active .ham2 {
  opacity: 0;
}

.menu {
  display: none;
}

.list {
  padding-left: 40px;
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  font-family: 'Inter', sans-serif;
}

.list a {
  transition: all 0.3s ease-in-out;
}

.hr {
  background: #6f6c6b;
  width: 90%;
  margin: auto;
}

.lis {
  display: none;
}

.menu.in-active {
  padding-top: 50px;
  display: block;
  position: absolute;
  height: 700px;
  background: #3e3e3c;
  width: 100%;
  left: 0;
  top: 0;
  transition: all 0.4s ease-in-out;
}

.section1 {
  background-image: url('./mobiletop.svg');
  background-repeat: no-repeat;
  background-position: bottom right;
  padding-top: 150px;
  padding-left: 24px;
  padding-right: 24px;
  height: 500px;
}

.section2 {
  display: grid;
  margin-bottom: 50px;
}

.hi {
  flex-wrap: wrap;
}

.h1 {
  transition: all 0.3s ease-in-out;
  font-weight: 400;
  font-family: 'crete round', sans-serif;
  font-size: 56px;
}

.Iam {
  font-family: 'Roboto', sans-serif;
  font-size: 24;
  font-weight: 700;
}

.help {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: 10px;
}

.logo {
  margin-top: 20px;
  gap: 20px;
}

.my {
  margin-top: 100px;
  text-align: center;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
}

.img {
  padding: 12px 24px;
  margin-top: 100px;
}

.img1 {
  height: auto;
  width: 100%;
}

.mi {
  margin-top: 10px;
  text-align: left;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
}

.daily {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.lang {
  gap: 10px;
}

.lang li {
  border: 1px solid #1c1a19;
  padding: 7px 12px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #091e42;
  margin-top: 10px;
  margin-bottom: 20px;
}

.btn {
  cursor: pointer;
  padding: 6px 12px;
  display: inline-flex;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background: #fff;
  color: #ff6b00;
}

.btn:active {
  background: #e05304;
  color: #fff;
}

.btn:disabled {
  background: #fff;
  color: #1c1a19;
}

/* ----------!--------- */

.second {
  margin-bottom: 30px;
}

.se {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 44px;
}

.burg {
  cursor: pointer;
}

.bur1 {
  height: 2px;
  width: 16px;
  background: #6f6c6b;
  margin: 4px 0;
  transform: rotate(45deg) translateY(5px);
}

.bur2 {
  opacity: 0;
}

.bur3 {
  height: 2px;
  width: 16px;
  background: #6f6c6b;
  margin: 4px 0;
  transform: rotate(-45deg) translateY(-5px);
}

.lang2 li {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  font-family: 'Poppins', sans-serif;
  border: 1px solid #1c1a19;
  padding: 6px 10px;
}

.lang2 {
  margin-bottom: 20px;
  gap: 10px;
}

.view img {
  width: 100%;
  margin-bottom: 20px;
}

.p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin-bottom: 20px;
}

.see {
  gap: 10px;
  margin-bottom: 20px;
}

.bottom {
  justify-content: center;
  gap: 5px;
  margin-top: 5px;
}

.btline {
  margin: auto;
  margin-top: 100px;
  width: 80%;
}

.see li {
  padding: 8px 16px;
  background: #e05304;
}

.view {
  padding: 12px 12px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px rgba(99, 99, 99, 0.5);
  width: 90%;
  margin: auto;
  background: #fff;
}

.biew {
  padding: 12px 20px;
  position: fixed;
  z-index: 1;
  left: 0;
  height: 100vh;
  top: 40px;
  display: none;
}

/* ---------!-------- */

.prof {
  padding-left: 24px;
  padding-right: 24px;
  left: 0;
  right: 0;
}

.pro {
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url('./image1.jpeg');
  background-position: center;
  background-size: cover;
  height: 386px;
  width: 100%;
  margin: auto;
}

.pro1 {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  padding-top: 90px;
  padding-left: 24px;
  padding-right: 24px;
}

.pro2 {
  padding-left: 24px;
  padding-right: 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.pro4 {
  margin-top: 15px;
  padding: 12px 24px;
  gap: 5px;
}

.pro5 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  border: 1px solid #fff;
  padding: 4px 6px;
  background: rgba(255, 255, 255, 0.24);
}

.btn2 {
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: 'Inter', sans-serif;
  align-items: center;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  height: 48px;
  transition: all 0.3s ease-in-out;
}

.btn2:hover {
  background: #fff;
  color: #ff6b00;
}

.btn2:active {
  background: #e05304;
  color: #fff;
}

.btn2:disabled {
  background: #fff;
  color: #1c1a19;
}

/* ------!--------- */

.about {
  margin-top: 30px;
  padding-top: 30px;
}

.abtme {
  padding: 1px 24px;
  margin-top: 50px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
}

.hello {
  padding: 1px 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.btn3 {
  padding: 12px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  transition: all 0.3s ease-in-out;
}

.btn3:hover {
  background: #fff;
  color: #ff6b00;
}

.btn3:active {
  background: #e05304;
  color: #fff;
}

.btn3:disabled {
  background: #fff;
  color: #1c1a19;
}

.but3 {
  padding-left: 24px;
  margin-top: 30px;
}

.bg {
  margin-top: 20px;
  background-image: url('./bottombg.svg');
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 150px;
  height: 500px;
}

.hq {
  background: #ffff;
  margin-top: 10px;
}

.languages {
  margin-top: 30px;
  padding-bottom: 100px;
  gap: 40px;
  justify-content: center;
}

.languages ul {
  text-align: center;
  justify-content: center;
  padding: 1px 24px;
}

.language {
  font-family: 'InaiMathi', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
}

.Frameworks {
  font-family: 'InaiMathi', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
}

.skills {
  font-family: 'InaiMathi', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
}

.langua {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
}

.framework {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
}

.skill {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
}

.foot {
  flex-wrap: wrap;
}

.foot h2 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  padding: 1px 24px;
  margin-top: 100px;
  text-align: center;
  color: #172b4d;
}

.name {
  padding: 2px 24px;
  margin-bottom: 1px;
}

.email {
  padding: 2px 24px;
  margin-top: 10px;
}

.textarea {
  padding: 2px 24px;
  margin-top: 10px;
}

form {
  padding-top: 80px;
}

input {
  border: none;
}

.hm {
  width: 85%;
  margin: auto;
}

.hn {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

input:focus {
  outline: #ff6b00 1px solid;
  background: #f4f5f7;
}

textarea:focus {
  outline: #ff6b00 1px solid;
  background: #f4f5f7;
}

.sub {
  cursor: pointer;
  background: #ff6b00;
  padding: 12px 12px;
}

.submit {
  justify-content: center;
  text-align: center;
}

@media (min-width: 765px) {
  .menu.in-active {
    padding-top: 1px;
    display: flex;
    position: inherit;
    height: 0;
    background: none;
    width: 400px;
    left: 0;
    top: -20px;
    transition: all 0.4s ease-in-out;
  }

  .foot {
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
  }

  .foot h2 {
    padding-left: 5%;
    text-align: left;
  }

  .submit {
    justify-content: left;
    text-align: left;
    padding-left: 24px;
  }

  .languages {
    margin-top: 60px;
  }

  .languages li {
    text-align: left;
  }

  .but3 {
    padding-left: 5%;
  }

  .abtme {
    padding-left: 5%;
    text-shadow: #acb7c3 2px 2px;
    display: inline-flex;
    transition: all 0.3s ease-in-out;
  }

  .abtme:hover {
    transform: scale(1.2);
  }

  .about {
    margin-top: 30px;
    padding-top: 30px;
  }

  .hello {
    padding: 1px 5%;
    width: 50%;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  .bg {
    margin-top: 20px;
    background-image: url('./bottombgdesk.svg');
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 300px;
    height: 400px;
  }

  .prof {
    padding: 5% 5%;
    display: flex;
    flex-wrap: wrap;
  }

  .prof div {
    flex-grow: 1;
    margin: 2px 2px;
    flex-basis: 30%;
  }

  .pro {
    background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url('./image1.jpeg');
    background-position: center;
    background-size: cover;
    height: 350px;
  }

  .pro:hover {
    background-image: url('./image1.jpeg');
    background-position: center;
    background-size: cover;
  }

  .fh {
    transition: all 0.3s ease-in-out;
  }

  .fh:hover {
    opacity: 0;
  }

  .h1 {
    font-weight: 400;
    font-family: 'crete round', sans-serif;
    font-size: 56px;
    width: 50%;
    text-shadow: #acb7c3 2px 2px;
  }

  .h1:hover {
    transform: scale(1.2);
  }

  nav h2:hover {
    transform: rotate(360deg);
    color: #ff6b00;
  }

  nav h2 a:hover {
    color: #ff6b00;
    font-size: 26px;
  }

  .menu a:hover {
    color: #ff6b00;
  }

  .section1 {
    display: flex;
    background-image: url('./desktoptop.svg');
    background-repeat: no-repeat;
    background-position: right;
    padding-top: 150px;
    padding-left: 5%;
    padding-right: 5%;
    height: 400px;
    background-size: 300px;
  }

  .btn2 {
    margin-top: -5px;
  }

  .fess {
    order: 2;
  }

  .fes ul {
    margin-left: -30px;
    display: flex;
    order: 1;
    flex-direction: column;
    margin-right: 30px;
  }

  .hi {
    flex-wrap: nowrap;
  }

  .img {
    flex-wrap: nowrap;
    padding-left: 5%;
    padding-right: 5%;
  }

  .img1 {
    width: 50%;
    margin: 5px;
  }

  .my {
    text-align: left;
    position: relative;
    padding-left: 5%;
    padding-right: 1px;
    width: 90%;
  }

  .my::after {
    background-color: black;
    height: 2px;
    width: 50%;
    display: block;
    content: "";
    position: absolute;
    top: 30px;
    right: 0;
    z-index: -1;
  }

  .hn {
    display: none;
  }

  .help {
    width: 70%;
  }

  nav {
    position: relative;
    padding: 12px 5%;
  }

  .menu {
    display: flex;
    position: inherit;
    padding-top: 1px;
  }

  .list {
    font-size: 16px;
  }

  .hr {
    display: none;
  }

  .ham {
    display: none;
  }

  .flexit {
    display: flex;
  }

  .flexit div {
    flex: 1;
  }

  .vie p {
    width: 90%;
    padding-left: 7%;
  }

  .mod {
    padding-left: 5%;
  }

  .se {
    padding-left: 3%;
  }

  .lang2 {
    padding-left: 3%;
  }

  .see {
    padding-left: 7%;
  }

  .burg {
    padding-right: 3%;
  }
}

@media (min-width: 1024px) {
  .bg {
    margin-top: 20px;
    background-image: url('./bottombgdesk.svg');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 500px;
    height: 400px;
  }

  .my {
    text-align: left;
    position: relative;
    padding-left: 5%;
    padding-right: 1px;
    width: 90%;
  }

  .my::after {
    background-color: black;
    height: 2px;
    width: 65%;
    display: block;
    content: "";
    position: absolute;
    top: 30px;
    right: 0;
    z-index: -1;
  }

  .section1 {
    background-image: url('./desktoptop.svg');
    background-repeat: no-repeat;
    background-position: right;
    padding-top: 150px;
    height: 400px;
    background-size: 500px;
  }

  .h1 {
    font-weight: 400;
    font-family: 'crete round', sans-serif;
    font-size: 56px;
    width: 30%;
  }

  .help {
    width: 50%;
  }

  .foot h2 {
    width: 30%;
  }

  .languages ul {
    margin: 50px;
  }

  .vie p {
    width: 70%;
    padding-left: 7%;
  }

  .biew {
    top: 30px;
  }
}
