* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

:root {
  --orange_color2: #e05304;
  --light_grey: #acb7c3;
  --white: #fff;
  --grey: #6f6c6b;
  --light_orange: #ff6b00;
  --light_blue: #344563;
  --light_dark: #1c1a19;
  --deep_blue: #091e42;
  --dark-color: #262626;
  --dull-light: #fbf8f7;
  --ten-px: 10px;
  --twelve-px: 12px;
  --forteen-px: 14px;
  --fifteen-px: 15px;
  --18px: 18px;
  --twenty-px: 20px;
  --twenty-four-px: 24px;
  --flex: flex;
  --center: center;
  --100percent: 100%;
  --Roboto: 'Roboto', sans-serif;
  --crete: 'crete round', sans-serif;
  --inter: 'Inter', sans-serif;
  --Inai: 'InaiMathi', sans-serif;
}

.align {
  align-items: var(--center);
}

.justbtw {
  justify-content: space-between;
}

.justard {
  justify-content: space-around;
}

.white {
  color: #fff;
}

.greybg {
  background: #3e3e3c;
}

.blackbg {
  background: var(--light_dark);
}

.orange {
  color: #f55800;
}

.orangebg {
  background: #f55800;
}

.white2 {
  color: #f4f5f7;
}

.flex {
  display: flex;
}

.nowrap {
  flex-wrap: nowrap;
}

.wrap {
  flex-wrap: wrap;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

nav {
  position: fixed;
  padding: var(--twelve-px) 5%;
  width: 90%;
  left: 0;
  z-index: 1;
}

nav h2 {
  color: var(--white);
  font-family: var(--Roboto);
  font-size: var(--18px);
  transition: all 0.5s ease-in-out;
}

.ham {
  cursor: pointer;
  z-index: 1;
}

.ham1 {
  background: var(--light_grey);
  height: 2px;
  width: 16px;
  margin: 4px 0;
  transition: all 0.3s ease-in-out;
}

.ham2 {
  background: var(--light_grey);
  height: 2px;
  width: 16px;
  margin: 4px 0;
  transition: all 0.3s ease-in-out;
}

.ham3 {
  background: var(--light_grey);
  height: 2px;
  width: 16px;
  margin: 4px 0;
  transition: all 0.3s ease-in-out;
}

.ham.active .ham1 {
  transform: translateY(8px) rotate(45deg);
}

.ham.active .ham3 {
  transform: translateY(-4px) rotate(-45deg);
}

.ham.ham.active .ham2 {
  opacity: 0;
}

.list {
  padding-left: 40px;
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  font-family: var(--Roboto);
  width: 80%;
  border-bottom: 2px solid var(--grey);
  margin: auto;
}

.list a {
  transition: all 0.3s ease-in-out;
  padding-right: var(--twenty-px);
  color: var(--white)5e1;
}

.hr {
  background: var(--grey);
  width: 90%;
  margin: auto;
}

.lis {
  display: none;
}

.section1 {
  background-image: url('./images/mobiletop.svg');
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 140px;
  padding-top: 150px;
  padding-left: var(--twenty-four-px);
  padding-right: var(--twenty-four-px);
  height: 550px;
}

.section2 {
  display: grid;
  margin-bottom: 50px;
}

.hi {
  flex-wrap: wrap;
}

.h1 {
  transition: all 0.3s ease-in-out;
  font-weight: 400;
  font-family: var(--crete);
  font-size: 56px;
}

.Iam {
  font-family: var(--Roboto);
  font-size: var(--twenty-four-px);
  font-weight: 700;
}

.help {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: var(--18px);
  line-height: var(--twenty-four-px);
  margin-top: var(--ten-px);
}

.logo {
  margin-top: var(--twenty-px);
  gap: var(--twenty-px);
}

.my {
  margin-top: 100px;
  text-align: var(--center);
  font-family: var(--crete);
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
}

.img {
  padding: var(--twelve-px) var(--twenty-four-px);
  margin-top: 100px;
}

.img1 {
  height: auto;
  width: var(--100percent);
}

.mi {
  margin-top: var(--ten-px);
  text-align: left;
  font-family: var(--crete);
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
}

.daily {
  font-family: var(--inter);
  font-style: normal;
  font-weight: 400;
  font-size: var(--18px);
  line-height: var(--twenty-four-px);
}

.lang {
  gap: var(--ten-px);
}

.lang li {
  border: 1px solid var(--light_dark);
  padding: 7px var(--twelve-px);
  font-family: var(--inter);
  font-style: normal;
  font-weight: 500;
  font-size: var(--fifteen-px);
  line-height: var(--twenty-px);
  color: var(--deep_blue);
  margin-top: var(--ten-px);
  margin-bottom: var(--twenty-px);
}

.btn {
  cursor: pointer;
  padding: 6px var(--twelve-px);
  display: inline-flex;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background: var(--white);
  color: var(--light_orange);
}

.btn:active {
  background: var(--orange_color2);
  color: var(--white);
}

.btn:disabled {
  background: var(--white);
  color: var(--light_dark);
}

/* ----------!--------- */

.second {
  margin-bottom: 30px;
}

.se {
  font-family: var(--Roboto);
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 44px;
}

.burg {
  cursor: pointer;
}

.bur1 {
  height: 2px;
  width: 16px;
  background: var(--grey);
  margin: 4px 0;
  transform: rotate(45deg) translateY(5px);
}

.bur2 {
  opacity: 0;
}

.bur3 {
  height: 2px;
  width: 16px;
  background: var(--grey);
  margin: 4px 0;
  transform: rotate(-45deg) translateY(-5px);
}

.lang2 li {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  font-family: 'Poppins', sans-serif;
  border: 1px solid var(--light_dark);
  padding: 6px var(--ten-px);
}

.lang2 {
  margin-bottom: var(--twenty-px);
  gap: var(--ten-px);
  flex-wrap: wrap;
}

.view img {
  width: var(--100percent);
  margin-bottom: var(--twenty-px);
}

.p {
  font-family: var(--inter);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: var(--twenty-four-px);
  color: var(--light_blue);
  margin-bottom: var(--twenty-px);
}

.see {
  gap: var(--ten-px);
  margin-bottom: var(--twenty-px);
}

.bottom {
  justify-content: var(--center);
  gap: var(--ten-px);
  margin-top: 5px;
}

.btline {
  margin: auto;
  margin-top: 100px;
  width: 80%;
}

.see li {
  padding: 8px 16px;
  background: var(--orange_color2);
}

.view {
  padding: var(--twelve-px) var(--twelve-px);
  border: 1px solid black;
  border-radius: var(--ten-px);
  margin-bottom: var(--twenty-px);
  box-shadow: 5px 5px rgba(99, 99, 99, 0.5);
  width: 90%;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  background: var(--white);
  height: auto;
  top: 30px;
}

.biew {
  padding: var(--twelve-px) var(--twenty-px);
  position: fixed;
  z-index: 1;
  left: 0;
  height: 100vh;
  top: 60px;
  display: none;
  overflow: scroll;
}

.mod {
  height: 300px;
}

/* ---------!-------- */

.prof {
  padding-left: var(--twenty-four-px);
  padding-right: var(--twenty-four-px);
  left: 0;
  right: 0;
}

.pro {
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url('./images/image1.jpeg');
  background-position: var(--center);
  background-size: cover;
  height: auto;
  width: var(--100percent);
  margin: auto;
}

.bg1 {
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url('./images/futuristicGymsMobile.png');
  background-repeat: no-repeat;
  background-position: var(--center);
  background-size: cover;
}

.bg2 {
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url('./images/AwesomeBooksDesktop.png');
  background-repeat: no-repeat;
  background-position: var(--center);
}

.bg4 {
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url('./images/calculator.jpeg');
  background-repeat: no-repeat;
  background-position: var(--center);
}

.bg3 {
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url('./images/todolist.png');
  background-repeat: no-repeat;
  background-position: var(--center);
}

.bg5 {
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url('./images/leaderboard.png');
  background-repeat: no-repeat;
  background-position: var(--center);
}

.bg6 {
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url('./images/projects/mobile(3).png');
  background-repeat: no-repeat;
  background-position: var(--center);
}

.pro1 {
  font-family: var(--crete);
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  padding-top: 90px;
  padding-left: var(--twenty-four-px);
  padding-right: var(--twenty-four-px);
}

.pro2 {
  padding-left: var(--twenty-four-px);
  padding-right: var(--twenty-four-px);
  font-family: var(--inter);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: var(--twenty-four-px);
}

.pro4 {
  margin-top: var(--fifteen-px);
  padding: var(--twelve-px) var(--twenty-four-px);
  gap: 5px;
  flex-wrap: wrap;
}

.pro5 {
  font-family: var(--inter);
  font-style: normal;
  font-weight: 500;
  font-size: var(--fifteen-px);
  line-height: var(--twenty-px);
  border: 1px solid var(--white);
  padding: 4px 6px;
  background: rgba(255, 255, 255, 0.24);
}

.btn2 {
  width: var(--100percent);
  display: var(--flex);
  justify-content: var(--center);
  font-family: var(--inter);
  align-items: var(--center);
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: var(--twenty-four-px);
  height: 48px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.btn2:hover {
  background: var(--white);
  color: var(--light_orange);
}

.btn2:active {
  background: var(--orange_color2);
  color: var(--white);
}

.btn2:disabled {
  background: var(--white);
  color: var(--light_dark);
}

/* ------!--------- */

.about {
  margin-top: 30px;
  padding-top: 30px;
}

.abtme {
  padding: 1px var(--twenty-four-px);
  margin-top: 50px;
  font-family: var(--crete);
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
}

.hello {
  padding: 1px var(--twenty-four-px);
  font-family: var(--inter);
  font-style: normal;
  font-weight: 400;
  font-size: var(--18px);
  line-height: var(--twenty-four-px);
}

.btn3 {
  padding: var(--twelve-px);
  font-family: var(--inter);
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: var(--twenty-four-px);
  align-items: var(--center);
  text-align: var(--center);
  letter-spacing: 0.03em;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.btn3:hover {
  background: var(--white);
  color: var(--light_orange);
}

.btn3:active {
  background: var(--orange_color2);
  color: var(--white);
}

.btn3:disabled {
  background: var(--white);
  color: var(--light_dark);
}

.but3 {
  padding-left: var(--twenty-four-px);
  margin-top: 30px;
}

.bg {
  margin-top: var(--twenty-px);
  background-image: url('./images/bottombg.svg');
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 100px;
  height: 500px;
}

.hq {
  background: var(--white);
  margin-top: var(--ten-px);
}

.languages {
  margin-top: 30px;
  padding-bottom: 100px;
  gap: 40px;
  justify-content: var(--center);
}

.languages ul {
  text-align: var(--center);
  justify-content: var(--center);
  padding: 1px var(--twenty-four-px);
}

.language {
  font-family: var(--Inai);
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  display: var(--flex);
  align-items: var(--center);
}

.Frameworks {
  font-family: var(--Inai);
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  display: var(--flex);
  align-items: var(--center);
}

.skills {
  font-family: var(--Inai);
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  display: var(--flex);
  align-items: var(--center);
}

.langua {
  font-family: var(--inter);
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
}

.framework {
  font-family: var(--inter);
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
}

.skill {
  font-family: var(--inter);
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
}

.hm {
  width: 85%;
  margin: auto;
}

.hn {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: var(--ten-px);
}

.sub {
  cursor: pointer;
  background: var(--light_orange);
  padding: var(--twelve-px) var(--twelve-px);
}

.foot {
  justify-content: var(--center);
  padding: var(--twelve-px) var(--twenty-four-px);
}

.aa {
  flex-wrap: wrap;
  display: var(--flex);
  align-items: var(--center);
}

.aa div {
  justify-items: var(--center);
  flex-grow: 1;
  flex-basis: 325px;
}

.gg {
  padding: var(--twelve-px) var(--twenty-four-px);
}

.ab {
  justify-content: var(--center);
  font-family: var(--inter);
  font-style: normal;
  font-weight: 700;
  font-size: var(--twenty-four-px);
  line-height: 44px;
  text-align: var(--center);
  color: var(--dark-color);
  display: inline-block;
}

input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px rgb(168, 166, 166) solid;
  height: 30px;
}

.xam input {
  margin-left: var(--twenty-px);
  margin-bottom: var(--ten-px);
}

.pp {
  text-align: var(--center);
}

textarea {
  font: 1em sans-serif;
  border: none;
  background: var(--dull-light);
  width: 230px;
  margin-left: var(--twenty-px);
}

.bl {
  background: var(--light_orange);
  padding-bottom: var(--twelve-px);
  padding-top: 7px;
  padding-left: var(--fifteen-px);
  padding-right: var(--fifteen-px);
  color: var(--white);
  transition: 0.4s;
  border-radius: 5px;
}

.bl:hover {
  background: var(--white);
  color: var(--light_orange);
}

.bl:active {
  background: var(--orange_color2);
  color: var(--white);
}

.bl:disabled {
  background: var(--white);
  color: var(--light_dark);
}

.yy {
  padding-top: 5px;
}

.yy textarea:focus {
  border: 2px solid var(--light_orange);
  border-radius: 5px;
  outline: var(--light_orange);
  background: #f5ece6;
}

.xam input:focus {
  border: 2px solid var(--light_orange);
  border-radius: 5px;
  outline: var(--light_orange);
  background: #f5ece6;
}

@media (max-width: 765px) {
  .language {
    font-family: var(--Inai);
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    display: block;
    align-items: var(--center);
  }

  .Frameworks {
    display: block;
  }

  .skills {
    display: block;
  }

  .languages ul {
    text-align: var(--center);
    justify-content: var(--center);
    padding: 1px var(--twenty-four-px);
    width: var(--100percent);
  }

  .formSection {
    position: relative;
    width: 80%;
    margin: auto;
  }

  .email {
    width: var(--100percent);
  }

  .name {
    width: var(--100percent);
  }

  #spanName {
    position: relative;
    right: var(--twenty-px);
    bottom: 5px;
  }

  #spanMail {
    position: relative;
    right: var(--twenty-px);
    bottom: 5px;
  }

  #spanText {
    position: absolute;
    right: var(--twenty-px);
    bottom: 40px;
  }

  .textarea {
    width: var(--100percent);
  }

  .pp {
    display: var(--flex);
    justify-content: end;
  }

  .biew {
    padding: var(--twelve-px) var(--twenty-px) 30px var(--twenty-px);
    position: fixed;
    z-index: 1;
    left: 0;
    margin-bottom: var(--ten-px);
    top: var(--ten-px);
    display: none;
    overflow: scroll;
  }

  .menu.in-active {
    padding-top: 56px;
    display: block;
    position: absolute;
    height: 700px;
    background: #3c3a39;
    width: var(--100percent);
    left: 0;
    top: 0;
    transition: all 0.4s ease-in-out;
  }

  .list {
    line-height: 44px;
    padding-top: var(--twelve-px);
    margin-top: 5px;
  }

  .menu {
    left: var(--100percent);
    position: absolute;
  }

  .curriculaVitae {
    width: var(--100percent);
    font-family: sans-serif;
    top: 46px;
    position: relative;
    display: none;
    margin: auto;
  }

  .cvDiv {
    display: block;
    flex-direction: row;
    width: var(--100percent);
  }

  .cvDivTwo {
    width: 90%;
    background: var(--deep_blue);
    padding: 30px 5% var(--twelve-px) 5%;
    color: var(--white);
    margin: auto;
  }

  .curLine {
    border: none;
    outline: var(--white) solid 1px;
    width: 60%;
  }

  .cvDivTwoHeader {
    margin-top: 30px;
    margin-bottom: 5px;
    margin-left: 5px;
  }

  .cvDivTwoUl {
    margin-top: var(--twenty-px);
    margin-left: var(--ten-px);
    line-height: 25px;
  }

  .cvDivTwoUl2 {
    margin-top: var(--twenty-px);
    margin-left: var(--ten-px);
    line-height: var(--twenty-px);
  }

  .cvDivTwoUl2 a {
    color: var(--white);
  }

  .cvDivTwoHeader2 {
    margin-top: 40px;
    margin-bottom: 5px;
  }

  .cvDivTwoUl3 {
    margin-top: var(--twenty-px);
    display: var(--flex);
    flex-wrap: wrap;
    gap: var(--ten-px);
  }

  .cvDivTwoUl3 li {
    background: var(--light_grey);
    padding: var(--ten-px) var(--ten-px);
    border-radius: var(--ten-px);
    color: #111;
  }

  .cvDivThree {
    width: 90%;
    margin: auto;
    background: var(--deep_blue);
    padding: var(--twelve-px) 5%;
    color: var(--white);
  }

  .cvDivThreeHeader {
    margin-top: 30px;
    font-size: 25px;
  }

  .cvDivThreeHeader2 {
    font-size: var(--twenty-px);
    margin-top: var(--ten-px);
  }

  .cvDivThreeUl {
    display: var(--flex);
    align-items: var(--center);
    gap: 40px;
    margin-top: var(--ten-px);
    font-weight: 600;
    font-size: var(--fifteen-px);
  }

  .hide {
    display: none;
  }

  .cvVert:nth-child(1) {
    border-right: 2px var(--white) solid;
    width: 12%;
  }

  .cvVert:nth-child(2) {
    border-right: 2px var(--white) solid;
    width: 25%;
  }

  .cvDivThreeHeader3 {
    font-size: var(--18px);
    margin-top: var(--ten-px);
  }

  .cvDivThreeHeader4 {
    font-size: 22px;
    margin-top: 30px;
  }

  .cvDivThreeUl2 {
    margin-top: var(--ten-px);
  }

  .natDip {
    list-style-type: initial;
    margin-left: var(--twenty-px);
    font-size: var(--18px);
    font-weight: 600;
    margin-top: var(--twenty-px);
  }

  .yabaTech {
    margin-left: 40px;
    font-size: var(--fifteen-px);
    font-weight: 600;
    line-height: var(--twenty-px);
  }

  .curLine2 {
    border: none;
    outline: var(--white) solid 1px;
    width: 80%;
  }

  .cvDivThreeUl3 {
    /* margin-left: var(--twenty-px); */
    margin-top: var(--twenty-px);
    display: var(--flex);
    gap: var(--fifteen-px);
    flex-wrap: wrap;
  }

  .cvDivThreeUl3 li {
    background: var(--light_grey);
    color: #111;
    padding: var(--ten-px) var(--ten-px);
    border-radius: var(--ten-px);
  }

  .cvDivThreeHeader5 {
    font-size: 22px;
    margin-top: 30px;
  }

  .cvImagesDiv {
    display: var(--flex);
    margin-top: 30px;
    flex-wrap: wrap;
    color: #f5ece6;
  }

  .cvDivs {
    display: var(--flex);
    background: var(--light_blue);
    margin: 5px 2%;
    width: var(--100percent);
  }

  .cvDivs:nth-child(even) {
    flex-direction: row-reverse;
  }

  .cvImages {
    width: 46%;
    margin: 5px 2%;
  }

  .ulCv {
    padding: var(--twelve-px) var(--twelve-px);
  }

  .cvPara {
    font-size: 14px;
    margin: var(--twelve-px) 0;
    width: var(--100percent);
    line-height: var(--twenty-px);
  }

  .expDate {
    margin-top: 30px;
    font-size: var(--twelve-px);
  }

  .IssuedBy {
    font-size: var(--twelve-px);
  }

  .cvDivCerts {
    font-size: 14px;
    margin-bottom: 5px;
  }

  .cvHam {
    cursor: pointer;
    position: absolute;
    left: var(--ten-px);
    top: var(--twelve-px);
  }

  .cvHam1 {
    background: var(--white);
    width: 25px;
    height: 2px;
    margin: 4px 0;
    transform: rotate(45deg) translateY(5px);
  }

  .cvHam3 {
    background: var(--white);
    width: 25px;
    height: 2px;
    margin: 4px 0;
    transform: rotate(-45deg) translateY(-4px);
  }

  .cvPassport {
    width: 80%;
    padding: var(--twelve-px) 10%;
    margin: auto;
  }
}

@media (max-width: 365px) {
  .second {
    margin-bottom: var(--twenty-px);
  }

  .se {
    font-size: var(--twenty-four-px);
  }

  .view {
    padding: var(--twelve-px) var(--twelve-px);
    border: 1px solid black;
    border-radius: var(--ten-px);
    margin-bottom: var(--twenty-px);
    box-shadow: 5px 5px rgba(99, 99, 99, 0.5);
    width: 90%;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    background: var(--white);
    height: auto;
    padding-bottom: 40px;
  }

  .mod {
    height: 200px;
    width: auto;
    margin: auto;
  }

  .biew {
    padding: var(--twelve-px) var(--twenty-px) 30px var(--twenty-px);
    position: fixed;
    z-index: 1;
    left: 0;
    margin-bottom: var(--ten-px);
    top: var(--ten-px);
    display: none;
    overflow: scroll;
  }

  .view img {
    width: var(--100percent);
    margin-bottom: var(--ten-px);
  }

  .section1 {
    background-size: 100px;
    height: 550px;
  }

  #submitError {
    position: relative;
    right: -35%;
  }
}

@media (min-width: 765px) {
  .curriculaVitae {
    width: var(--100percent);
    font-family: sans-serif;
    top: 80px;
    position: absolute;
    margin: auto;
    display: none;
  }

  .cvDiv {
    display: var(--flex);
    flex-direction: row;
    width: 80%;
    margin: auto;
    border: 2px solid var(--deep_blue);
  }

  .cvDivTwo {
    width: 30%;
    background: var(--deep_blue);
    padding: var(--twelve-px) var(--twenty-four-px);
    color: var(--white);
  }

  .curLine {
    border: none;
    outline: var(--white) solid 1px;
  }

  .cvDivTwoHeader {
    margin-top: 30px;
    margin-bottom: 5px;
    margin-left: 5px;
  }

  .cvDivTwoUl {
    margin-top: var(--twenty-px);
    margin-left: var(--ten-px);
    line-height: 25px;
    font-size: var(--18px);
  }

  .cvDivTwoUl2 {
    margin-top: var(--twenty-px);
    margin-left: var(--ten-px);
    line-height: var(--twenty-px);
    font-size: var(--18px);
  }

  .cvDivTwoUl2 a {
    color: var(--white);
  }

  .cvDivTwoHeader2 {
    margin-top: 40px;
    margin-bottom: 5px;
    margin-left: 5px;
  }

  .cvDivTwoUl3 {
    list-style-type: initial;
    margin-left: 30px;
    margin-top: var(--twenty-px);
  }

  .cvDivThree {
    width: 70%;
    background: var(--white);
    padding: var(--twelve-px) var(--twenty-four-px);
    color: #111;
    margin-left: 30px;
  }

  .cvDivThreeHeader {
    margin-top: 30px;
    font-size: 30px;
  }

  .cvDivThreeHeader2 {
    font-size: var(--twenty-four-px);
    margin-top: var(--ten-px);
  }

  .cvDivThreeUl {
    display: var(--flex);
    align-items: var(--center);
    gap: 40px;
    margin-top: var(--ten-px);
    font-weight: 600;
    font-size: 14px;
  }

  .hide {
    display: none;
  }

  .cvVert:nth-child(1) {
    border-right: 3px #111 solid;
    width: 15%;
  }

  .cvVert:nth-child(2) {
    border-right: 3px #111 solid;
    width: 30%;
  }

  .cvDivThreeHeader3 {
    font-size: var(--twenty-px);
    margin-top: var(--ten-px);
  }

  .cvDivThreeHeader4 {
    font-size: var(--twenty-four-px);
    margin-top: 30px;
  }

  .cvDivThreeUl2 {
    margin-top: var(--ten-px);
  }

  .natDip {
    list-style-type: initial;
    margin-left: var(--twenty-px);
    font-weight: 600;
    margin-top: var(--twenty-px);
    font-size: var(--twenty-px);
  }

  .yabaTech {
    margin-left: 40px;
    font-size: 14px;
    font-weight: 600;
    line-height: var(--twenty-px);
  }

  .curLine2 {
    border: none;
    outline: #111 solid 1px;
  }

  .cvDivThreeUl3 {
    list-style-type: initial;
    margin-left: var(--twenty-px);
    margin-top: var(--twenty-px);
    font-weight: 600;
    font-size: var(--18px);
  }

  .cvDivThreeHeader5 {
    font-size: var(--twenty-four-px);
    margin-top: 30px;
  }

  .cvImagesDiv ul {
    flex-basis: 40%;
    flex-grow: 1;
    margin: 5px var(--ten-px);
  }

  .cvImagesDiv {
    display: var(--flex);
    margin-top: 30px;
    flex-wrap: wrap;
    color: #f5ece6;
  }

  .cvDivs {
    display: var(--flex);
    background: var(--light_blue);
    margin: 5px 2%;
  }

  .cvDivs:nth-child(even) {
    flex-direction: row-reverse;
  }

  .cvImages {
    width: 46%;
    margin: 5px 2%;
  }

  .ulCv {
    padding: var(--twelve-px) var(--twelve-px);
  }

  .cvPara {
    font-size: 14px;
    margin: var(--twelve-px) 5px;
    width: var(--100percent);
  }

  .expDate {
    margin-top: var(--fifteen-px);
    font-size: var(--twelve-px);
  }

  .IssuedBy {
    font-size: var(--twelve-px);
  }

  .cvDivCerts {
    font-size: 14px;
    margin-bottom: 5px;
  }

  .cvHam {
    cursor: pointer;
    position: absolute;
    right: 12%;
  }

  .cvHam1 {
    background: #111;
    width: var(--twenty-px);
    height: 2px;
    margin: 4px 0;
    transform: rotate(45deg) translateY(5px);
  }

  .cvHam3 {
    background: #111;
    width: var(--twenty-px);
    height: 2px;
    margin: 4px 0;
    transform: rotate(-45deg) translateY(-4px);
  }

  textarea {
    font: 1em sans-serif;
    border: none;
    background: var(--dull-light);
    width: 265px;
    margin-left: var(--twenty-px);
  }

  form {
    width: 200px;
    height: auto;
  }

  #submitError {
    position: absolute;
    right: 5var(--twenty-px);
  }

  #spanText {
    position: relative;
    top: -30px;
    right: -250px;
  }

  #spanName {
    position: relative;
    top: -35px;
    right: -265px;
  }

  #spanMail {
    position: relative;
    top: -35px;
    right: -265px;
  }

  .btline {
    margin-bottom: auto;
    margin-right: auto;
    margin-left: -5%;
    margin-top: 100px;
    width: var(--100percent);
  }

  .mi {
    font-size: 35px;
    font-weight: bold;
  }

  .lis {
    display: block;
    padding-top: var(--fifteen-px);
    margin-left: 40px;
  }

  .lang li {
    transition: all 0.6s ease-in-out;
  }

  .languages li {
    text-align: left;
  }

  .lang li:hover {
    background: var(--dark-color);
    color: var(--white);
  }

  .pp {
    text-align: left;
    margin-left: var(--twenty-px);
  }

  .yy {
    margin-left: 35px;
    margin-top: var(--ten-px);
  }

  .yy textarea:focus {
    border: 2px solid var(--light_orange);
    border-radius: 5px;
    outline: var(--light_orange);
    background: #f5ece6;
  }

  .xam input {
    padding-bottom: var(--ten-px);
    margin-left: var(--twenty-px);
  }

  .xam input:focus {
    border: 2px solid var(--light_orange);
    border-radius: 5px;
    outline: var(--light_orange);
    background: #f5ece6;
  }

  .ab {
    text-align: left;
  }

  .ab h2 {
    width: var(--100percent);
  }

  .aa {
    display: var(--flex);
    flex-wrap: nowrap;
  }

  .foot {
    padding-left: 10%;
    margin-top: 80px;
  }

  .languages {
    margin-top: 60px;
  }

  .but3 {
    padding-left: 5%;
  }

  .abtme {
    padding-left: 5%;
    text-shadow: var(--light_grey) 2px 2px;
    display: inline-flex;
    transition: all 0.3s ease-in-out;
  }

  .abtme:hover {
    transform: scale(1.3);
  }

  .about {
    margin-top: 30px;
    padding-top: 30px;
  }

  .hello {
    padding: 1px 5%;
    width: 50%;
    font-family: var(--inter);
    font-style: normal;
    font-weight: 400;
    font-size: var(--18px);
    line-height: var(--twenty-four-px);
  }

  .bg {
    margin-top: var(--twenty-px);
    background-image: url('./images/bottombgdesk.svg');
    background-repeat: no-repeat;
    background-position: var(--center) right;
    background-size: 300px;
    height: 400px;
  }

  .prof {
    padding: 5% 5%;
    display: var(--flex);
    flex-wrap: wrap;
  }

  .prof div {
    flex-grow: 1;
    margin: 2px 2px;
    flex-basis: 30%;
  }

  .pro {
    background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url('./images/image1.jpeg');
    background-position: var(--center);
    background-size: cover;
    height: auto;
    width: auto;
  }

  .pro:hover {
    background-image: url('./images/image1.jpeg');
    background-position: var(--center);
    background-size: cover;
  }

  .bg1 {
    background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url('./images/futuristicGymsDesktop.png');
  }

  .bg2 {
    background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url('./images/AwesomeBooksDesktop.png');
  }

  .bg3 {
    background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url('./images/todolist.png');
  }

  .bg4 {
    background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url('./images/calculator.jpeg');
  }

  .bg5 {
    background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url('./images/leaderboard.png');
  }

  .bg6 {
    background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url('./images/projects/mobile(4).png');
  }

  .bg1:hover {
    background-image: url('./images/futuristicGymsDesktop.png');
    background-position: var(--center);
    background-size: cover;
  }

  .bg2:hover {
    background-image: url('./images/AwesomeBooksDesktopLists.png');
    background-position: var(--center);
    background-size: cover;
  }

  .bg4:hover {
    background-image: url('./images/calculator.jpeg');
    background-position: var(--center);
    background-size: cover;
  }

  .bg3:hover {
    background-image: url('./images/todolist.png');
    background-position: var(--center);
    background-size: cover;
  }

  .bg5:hover {
    background-image: url('./images/leaderboard.png');
    background-position: var(--center);
    background-size: cover;
  }

  .bg6:hover {
    background-image: url('./images/projects/mobile.png');
    background-position: var(--center);
    background-size: cover;
  }

  .fh {
    transition: all 0.3s ease-in-out;
  }

  .fh:hover {
    opacity: 0;
  }

  .h1 {
    font-weight: 400;
    font-family: var(--crete);
    font-size: 56px;
    width: 50%;
    text-shadow: var(--light_grey) 2px 2px;
  }

  .h1:hover {
    transform: scale(1.3);
  }

  .pen {
    transition: all 0.5s ease-in-out;
  }

  nav h2:hover {
    color: var(--light_orange);
  }

  @keyframes pen {
    0% {
      transform: scale(1);
    }

    25% {
      transform: scale(1.3);
    }

    50% {
      transform: scale(1.2);
    }

    100% {
      transform: scale(1);
    }
  }

  nav h2 a:hover {
    color: var(--light_orange);
    font-size: 30px;
  }

  .menu a:hover {
    color: var(--light_orange);
  }

  .section1 {
    display: var(--flex);
    background-image: url('./images/desktoptop.svg');
    background-repeat: no-repeat;
    background-position: right;
    padding-top: 150px;
    padding-left: 5%;
    padding-right: 5%;
    height: 400px;
    background-size: 300px;
  }

  .btn2 {
    margin-top: -5px;
  }

  .fess {
    order: 2;
  }

  .fes ul {
    margin-left: -30px;
    display: var(--flex);
    order: 1;
    flex-direction: column;
    margin-right: 30px;
  }

  .hi {
    flex-wrap: nowrap;
  }

  .img {
    flex-wrap: nowrap;
    padding-left: 5%;
    padding-right: 5%;
  }

  .img1 {
    width: 50%;
    margin: 5px;
  }

  .my {
    text-align: left;
    position: relative;
    padding-left: 5%;
    padding-right: 1px;
    width: 90%;
    font-size: 45px;
    font-weight: bold;
  }

  .my::after {
    background-color: black;
    height: 2px;
    width: 50%;
    display: block;
    content: "";
    position: absolute;
    top: 30px;
    right: 0;
    z-index: -1;
  }

  .hn {
    display: none;
  }

  .help {
    width: 70%;
  }

  nav {
    position: fixed;
    padding: var(--twelve-px) 5%;
  }

  .menu {
    display: var(--flex);
    padding-top: 1px;
  }

  .list {
    font-size: 16px;
    border: none;
  }

  .hr {
    display: none;
  }

  .ham {
    display: none;
  }

  .flexit {
    display: var(--flex);
  }

  .flexit div {
    flex: 1;
  }

  .vie p {
    width: 90%;
    padding-left: 7%;
  }

  .mod {
    padding-left: 5%;
    height: auto;
    width: auto;
  }

  .se {
    padding-left: 3%;
  }

  .lang2 {
    padding-left: 3%;
  }

  .see {
    padding-left: 7%;
  }

  .burg {
    padding-right: 3%;
  }
}

@media (min-width: 1024px) {
  .cvVert:nth-child(1) {
    border-right: 2px #111 solid;
    width: 12%;
  }

  .cvVert:nth-child(2) {
    border-right: 2px #111 solid;
    width: 20%;
  }

  .cvDivThreeUl {
    display: var(--flex);
    align-items: var(--center);
    gap: 40px;
    margin-top: var(--ten-px);
    font-weight: 600;
    font-size: var(--twenty-px);
  }

  .bg {
    margin-top: var(--twenty-px);
    background-image: url('./images/bottombgdesk.svg');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 500px;
    height: 400px;
  }

  .my {
    text-align: left;
    position: relative;
    padding-left: 5%;
    padding-right: 1px;
    width: 90%;
  }

  .my::after {
    background-color: black;
    height: 2px;
    width: 65%;
    display: block;
    content: "";
    position: absolute;
    top: 30px;
    right: 0;
    z-index: -1;
  }

  .section1 {
    background-image: url('./images/desktoptop.svg');
    background-repeat: no-repeat;
    background-position: right;
    padding-top: 150px;
    height: 400px;
    background-size: 500px;
  }

  .h1 {
    font-weight: 400;
    font-family: var(--crete);
    font-size: 56px;
    width: 30%;
  }

  .help {
    width: 50%;
  }

  .languages ul {
    margin: 50px;
  }

  .vie p {
    width: 70%;
    padding-left: 7%;
  }

  .biew {
    top: 30px;
    z-index: 1;
    height: 100vh;
  }

  .cvImagesDiv ul {
    flex-basis: 40%;
    flex-grow: 1;
    margin: 5px var(--ten-px);
  }

  .cvImagesDiv {
    display: var(--flex);
    margin-top: 30px;
    flex-wrap: wrap;
    color: #f5ece6;
  }

  .cvDivs {
    display: var(--flex);
    background: var(--light_blue);
    margin: 5px 2%;
  }

  .cvDivs:nth-child(even) {
    flex-direction: row-reverse;
  }

  .cvImages {
    width: 46%;
    margin: 5px 2%;
  }

  .ulCv {
    padding: var(--twelve-px) var(--twelve-px);
  }

  .cvPara {
    font-size: 16px;
    margin: var(--twelve-px) 5px;
    width: var(--100percent);
    line-height: var(--twenty-px);
  }

  .expDate {
    margin-top: 30px;
    font-size: 14px;
  }

  .IssuedBy {
    font-size: 14px;
  }
}